# Python files
*.py[cod]
**/__pycache__/

# SQLite database files
*.sqlite3
postgres/

# Django media root
media/

# IDE settings
.vscode/
.pydevproject
.settings/*

# Misc
ignore/*
errors.txt
import_log.txt

# Deployment files
.env.prod
