{% extends "base.html" %}
{% load static %}
{% load gravatar %}
{% load databasefilters %}



{% block title %}RMG: Molecule Search{% endblock %}

{% block extrahead %}
<!-- ChemDoodle Setup -->
<link href="{% static 'css/ChemDoodleWeb.css' %}" rel="stylesheet" type="text/css"/>
<script src="{% static 'js/ChemDoodleWeb.js' %}" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha256-KM512VNnjElC30ehFwehXjx1YCHPiQkOPmqnrWtpccM=" crossorigin="anonymous"></script>
<link href="{% static 'css/jquery-ui-1.11.4.css' %}" rel="stylesheet" type="text/css"/>
<script src="{% static 'js/ChemDoodleWeb-uis.js' %}" type="text/javascript"></script>
<style type="text/css">

.overlay {
    display: none;
    position: fixed;
    padding: 9px;
    width: 600px;
    left: 50%;
    margin-left: -310px;
    height: 520px;
    top: 50%;
    margin-top:-270px;
    text-align:center;
    overflow: auto;
    background-color: #efefef;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index:20;
}

#applet {
    padding: 7px
}

</style>

{% endblock %}

{% block navbar_items %}
<li><a href="{% url 'database.views.molecule_search' %}">Molecule Search</a></li>
{% endblock %}

{% block page_title %}Molecule Search{% endblock %}

{% block page_body %}

<p>Molecule Search Form</p>

<form method="post" id="species_form">
    <table>
        {{ form.as_table }}
        <tr>
           <th>{% csrf_token %}</th>
           <td>
              <input type="submit" value="Search" name="draw" />
              <input type="submit" value="Search Thermochemistry" name="thermo" />
              <input type="submit" value="Search Transport Properties" name="transport" />
              <input type="submit" value="Reset Form" name="reset" />
           </td>
        </tr>
    </table>
</form>

{% if species %}
{% for s in species %}
<table>
    <tr class="result">
        <th>InChI:</th>
        <td>{{ s.inchi }}</td>
    </tr>
    <tr class ="result">
        <th>Molecular Formula:</th>
        <td>{{ s.formula }}</td>
    </tr>
    <tr class ="result">
        <th>SPrimeID:</th>
        <td>{{ s.sPrimeID }}</td>
    </tr>
    <tr class ="result">
        <th>CAS Number:</th>
        <td>{{ s.cas }}</td>
    </table>
{% endfor %}
<h2>NCI Response:</h2>
<!-- todo -->
{% else %}
<h2>Species Not Found!</h2>
{% endif %}

{% endblock %}
