{% extends "kineticmodels/base.html" %}

{% block title %}{{ block.super }} Home{% endblock %}
{% block page_title %}{{ block.super }} Home{% endblock %}


{% block navbar_items %}
{{ block.super }}
{% endblock %}


<!-- Display links to the other parts of the kinetic models database site-->


{% block page_body %}
<h2><a href="{% url 'kineticModelList' %}">Models</a></h2>

<ul>
<li><a href="{% url 'kineticModelList' %}">Browse Models</a></li>
<li><a href="{% url 'kineticModelSearch' %}">Search Models</a></li>
<li><a href="{% url 'kineticModelNew' %}">New Kinetic Model</a></li>
</ul>
<!-- TODO Fix the search links-->

<h2><a href="{% url 'speciesList' %}">Species</a></h2>

<ul>
<li><a href="{% url 'speciesList' %}">Browse Species</a></li>
<li><a href="{% url 'speciesSearch' %}">Search Species</a></li>
</ul>
<!-- TODO Fix the search links-->

<h2><a href="{% url 'reactionList' %}">Reactions</a></h2>
<ul>
<li><a href="{% url 'reactionList' %}">Browse Reactions</a></li>
<li><a href="{% url 'reactionSearch' %}">Search Reactions</a></li>
</ul>
<!-- TODO Fix the search links-->

<h2><a href="{% url 'bibliography' %}">Bibliography</a></h2>
    <ul>
        <li><a href="{% url 'sourceSearch' %}">Search Sources</a></li>
    </ul>
{% endblock %}
