{% extends "kineticmodels/base.html" %}

{% block title %}{{ block.super }} Home{% endblock %}
{% block page_title %}{{ block.super }} Home{% endblock %}


{% block navbar_items %}
{{ block.super }}
{% endblock %}


<!-- Display links to the other parts of the kinetic models database site-->


{% block page_body %}
<h2><a href="{% url 'kineticmodel list' %}">Models</a></h2>

<ul>
<li><a href="{% url 'kineticmodel list' %}">Browse Models</a></li>
<li><a >Search Models</a></li>
</ul>
<!-- TODO Fix the search links-->

<h2><a href="{% url 'species list' %}">Species</a></h2>

<ul>
<li><a href="{% url 'species list' %}">Browse Species</a></li>
<li><a href="{% url 'species search' %}">Search Species</a></li>
</ul>
<!-- TODO Fix the search links-->

<h2><a href="{% url 'reaction list' %}">Reactions</a></h2>
<ul>
<li><a href="{% url 'reaction list' %}">Browse Reactions</a></li>
<li><a >Search Reactions</a></li>
</ul>
<!-- TODO Fix the search links-->

<h2><a href="{% url 'bibliography' %}">Bibliography</a></h2>
{% endblock %}
