{% extends "base.html" %}

{% block title %}Kinetic Models Database{% endblock %}
{% block page_title %}Kinetic Models Database{% endblock %}

<!-- NRC
  Index.html file contains Navbar Links to all pages within the kineticmodels site.
  The linked Sites only have links within the navbar to relevant sites.

  Currently no page for a single species. There is a species list and a species_editor page
  This setup reflects Biliography and Source Editor

  <a href="{% url 'bibliography' %}">Bibliography</a> &raquo;
<a href="{% url 'source view' source_id=source.id%}">Source {{ source.id }}</a> &raquo;
<a href="{% url 'source editor' source_id=source.id%}">Source Edit</a>
<a href="{% url 'species view' %}">Species</a>
<a href="{% url 'species editor' source_id=species_for_edit.id%}">Species Edit</a>
-->

{% block navbar_items %}
<a href="{% url 'kineticmodels site home' %}">Kinetic Models Database</a> &raquo;
{% endblock %}

{% block sidebar_items %}
{% endblock %}

<!-- Display links to the other parts of the kinetic models database site-->



{% block page_body %}
<h2><a href="{% url 'kineticmodel list' %}">Models</a></h2>

<ul>
<li><a href="{% url 'kineticmodel list' %}">Browse Models</a></li>
<li><a >Search Models</a></li>
</ul>
<!-- TODO Fix the search links-->

<h2><a href="{% url 'species list' %}">Species</a></h2>

<ul>
<li><a href="{% url 'species list' %}">Browse Species</a></li>
<li><a href="{% url 'species search' %}">Search Species</a></li>
</ul>
<!-- TODO Fix the search links-->

<h2><a href="{% url 'reaction list' %}">Reactions</a></h2>
<ul>
<li><a href="{% url 'reaction list' %}">Browse Reactions</a></li>
<li><a >Search Reactions</a></li>
</ul>
<!-- TODO Fix the search links-->

<h2><a href="{% url 'bibliography' %}">Bibliography</a></h2>
{% endblock %}


<!--
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}


 -->
