{% extends "kineticmodels/kineticModel.html" %}

{% block title %}{{ block.super }} {{ kineticModel.id }} Editor{% endblock %}
{% block page_title %}{{ block.super }} {{ kineticModel.id }} Editor{% endblock %}


{% block navbar_items %}
{{ block.super }} &raquo;
<a href="{% url 'kineticmodel view' kineticModel_id=kineticModel.id %}">Model {{ kineticModel.id }}</a> &raquo;
<a href="{% url 'kineticmodel editor' kineticModel_id=kineticModel.id%}">Edit</a>
{% endblock %}


{% block page_body %}
<p>
In order to generate the SMILES.txt file for the kinetic model, the importer needs a few colliders to be identified.
In the form below please enter the formula names(as in the mechanism chamkin file) for the respective name in SMILES format. 
</p>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
<p><input type="submit" value="Save" name="submit"/></p>
</form>

<table>
    <tr>
        <th>Species in Chemkin File</th>
    </tr>
{% for species in speciesList %}
    <tr>
        <td>{{ species}}</td>
    </tr>
{% endfor %}
</table>

{% endblock %}
