{% extends "kineticmodels/kineticModel.html" %}

{% block title %}{{ block.super }} {{ kineticModel.id }} Editor{% endblock %}
{% block page_title %}{{ block.super }} {{ kineticModel.id }} Editor{% endblock %}


{% block navbar_items %}
{{ block.super }} &raquo;
<a href="{% url 'kineticmodel view' kineticModel_id=kineticModel.id %}">Model {{ kineticModel.id }}</a> &raquo;
<a href="{% url 'kineticmodel editor' kineticModel_id=kineticModel.id%}">Edit</a>
{% endblock %}


{% block page_body %}

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
<p><input type="submit" value="Save" name="submit"/></p>
</form>

{% block footer %}
<script type="text/javascript" src="/static/collected/admin/js/vendor/jquery/jquery.js"></script>

{{ form.media }}
{% endblock %}

{% endblock %}

