{% extends "kineticmodels/kineticModel.html" %}

{% block title %}{{ block.super }} {{ kineticModel.id }}{% endblock %}
{% block page_title %}{{ block.super }} {{ kineticModel.id }}{% endblock %}


{% block navbar_items %}
{{ block.super }} &raquo;
<a href="{% url 'kineticmodel view' kineticModel_id=kineticModel.id %}">Model {{ kineticModel.id }}</a>
{% endblock %}

{% block page_body %}

<h1>Kinetic Model: {{kineticModel.id }}</h1>

<table>
	<tr><th>Metadata</th><td><a href="{% url 'kineticmodel editor' kineticModel_id=kineticModel.id %}">Edit metadata</a></td></tr>
	<tr><td>mPrime ID</td><td>{{ kineticModel.mPrimeID }}</a></td></tr>
    <tr><td>Name</td><td>{{ kineticModel.model_name }}</a></td></tr>
    <tr><td>Additional Info</td><td>{{ kineticModel.additional_info }}</td></tr>
    <tr><td>Source</td><td>{{ kineticModel.source.pk }}</td></tr>
    
	<tr><th>Files</th><td><a href="{% url 'kineticmodel upload' kineticModel_id=kineticModel.id %}">Upload files</a></td></tr>
    <tr><td>Reactions file</td><td>{% if kineticModel.chemkin_reactions_file %}
    {{ kineticModel.chemkin_reactions_file.name }}
        <a href="{% url 'kineticmodel file content editor' kineticModel_id=kineticModel.id filetype='reactions' %}">Edit</a>{% endif %}
    </td></tr>
    <tr><td>Thermo file</td><td>{% if kineticModel.chemkin_thermo_file %}
    {{ kineticModel.chemkin_thermo_file.name }}
        <a href="{% url 'kineticmodel file content editor' kineticModel_id=kineticModel.id filetype='thermo' %}">Edit</a>{% endif %}
    </td></tr>
    <tr><td>Transport file</td><td>{% if kineticModel.chemkin_transport_file %}
    {{ kineticModel.chemkin_transport_file.name }}
        <a href="{% url 'kineticmodel file content editor' kineticModel_id=kineticModel.id filetype='transport' %}">Edit</a>{% endif %}
    </td></tr>

    <tr><th>SMILES File</th><td><a href="{% url 'kineticmodel smiles' kineticModel_id=kineticModel.id %}">Generate SMILES.txt File</a></td></tr>
    <tr><td>SMILES.txt</td><td>{% if SMILESgenerated %}
    SMILES.txt
        <a href="{% url 'kineticmodel add smiles' kineticModel_id=kineticModel.id %}">Add Species to the SMILES file</a>{% endif %}        
    </td></tr>
    
    <tr><th>Importer</th>
    <td><a href="{% url 'kineticmodel importer' kineticModel_id=kineticModel.id %}">Import</a></td></tr>

</table>


{% endblock %}
