{% extends "kineticmodels/kineticModel.html" %}

{% block title %}{{ block.super }} List{% endblock %}
{% block page_title %}{{ block.super }} List{% endblock %}


{% block page_body %}

<!-- NRC
  The following HTML code will list all of the kinetic models currently in the database
  
  TODO: Add more parts of the kinetic model to be displayed and then figure out
  a way to display it nicely.

-->

<table>
    <!-- NRC
    Table properties must be edited to include all relevant kineticModel fields
    -->
    <tr>
        <th>ID</th>
        <th>mPrimeID</th>
        <th>modelName</th>
        <th>thermo</th>
        <th>kinetics</th>
        <th></th>
    </tr>
{% for kineticModel in object_list %}
<!-- NRC
    Table properties must be edited to include all relevant kinetic model fields(Done)
    Am not currently including a single kineticModel view
-->
    <tr>
        <td>{{ kineticModel.pk}}</td>
        <td>{{ kineticModel.mPrimeID }}</td>
        <td>{{ kineticModel.modelName }}</td>
        <td>{{ kineticModel.thermo }}</td>
        <td>{{ kineticModel.kinetics }}</td>
        <td><a href="{% url 'kineticModelView' kineticModel_id=kineticModel.id%}">View</a></td> 
        <td><a href="{% url 'kineticModelEditor' kineticModel_id=kineticModel.id%}">Edit</a></td>
    </tr>
{% endfor %}
</table>

{% include 'kineticmodels/navigationFooter.html' %}


{% endblock %}
