{% extends "kineticmodels/kineticModel.html" %}

{% block title %}{{ block.super }} {{ kineticModel.id }}{% endblock %}
{% block page_title %}{{ block.super }} {{ kineticModel.id }}{% endblock %}

<!-- NRC
  The below navbar items are only relevant to the reaction, reaction_editor, or bibliography links to avoid clutter.
-->

{% block navbar_items %}
{{ block.super }} &raquo;
<a href="{% url 'kineticmodel view' kineticModel_id=kineticModel.id %}">Model {{ kineticModel.id }}</a>
{% endblock %}

{% block page_body %}

<h1>Kinetic Model: {{kineticModel.id }}</h1>
This template needs work...
<a href="{% url 'kineticmodel editor' kineticModel_id=kineticModel.id %}">Edit</a>


{% endblock %}
