{% extends "base.html" %}

{% block title %}Kinetic Models Database: Kinetic Model {{ kineticModel.id }} Editor{% endblock %}
{% block page_title %}Kinetic Models Database: Kinetic Model {{ kineticModel.id }} Editor{% endblock %}

<!-- NRC
  This web page provides an interface to edit a specific kineticModel selected
  Should have a functionality added to change kineticModel without going back to kineticModel.html

  The below navbar items are only relevant to the following pages:
      bibliography,
      kineticModel,
      kineticModel_editor,
-->

{% block navbar_items %}
<a href="{% url 'kineticmodels site home' %}">Kinetic Models Database</a> &raquo;
<a href="{% url 'bibliography' %}">Bibliography</a>
<a href="{% url 'kineticmodel list' %}">Kinetic Model List</a>
<a href="{% url 'kineticmodel editor' kineticModel_id=kineticModel.id%}">Edit</a>
{% endblock %}

{% block sidebar_items %}
{% endblock %}

{% block page_body %}
<!-- NRC
  The following HTML code will list the data related to the specific kineticModel being edited
-->
<!--
    The following form allows the selected source to be edited
    Each source field needs a section to edit
  -->
<form action="{% url kineticmodels:kineticModel_editor kineticModel.id}" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
<p><input type="submit" value="Save" id="submit"/></p>
</form>

{% endblock %}

