{% extends "kineticmodels/reaction.html" %}

{% block title %}{{ block.super }} {{ reaction.id }} Editor{% endblock %}
{% block page_title %}{{ block.super }} {{ reaction.id }} Editor{% endblock %}

{% block navbar_items %}
{{ block.super }} &raquo;
<a href="{% url 'reaction view' reaction_id=reaction.id %}">Reaction {{ reaction.id }}</a> &raquo;
<a href="{% url 'reaction editor' reaction_id=reaction.id %}">Edit</a>
{% endblock %}

{% block page_body %}
<!-- NRC
  The following HTML code will list the data related to the specific reaction being edited
-->
<!--
    The following form allows the selected source to be edited
    Each source field needs a section to edit
  -->
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
<p><input type="submit" value="Save" id="submit"/></p>
</form>

{% endblock %}

