{% extends "kineticmodels/reaction.html" %}


{% block title %}Kinetic Models: Reaction Search{% endblock %}
<!-- 
{% block extrahead %}
<script type="text/javascript">
// the function used to resolve the identifier into an adjacency list
function resolve(){
   var spField = $('#id_reaction');
   var identifier = $('#id_reaction_identifier').val();
   var url = '/adjacencylist/'+escape(identifier);
   spField.val("Loading...");
   $('.result').hide();
   var jqxhr = $.get(url,function(structure) {
                     spField.val(structure);
                  })
               .error(function(j,t,e) { spField.val(t+'\n'+e); });
};

// prevent "enter" keypress in the identifier field from submitting the form,
// but instead make it resolve the identifier and select the submit button.
$(document).ready(function() {
   $("#id_reaction_identifier").bind("keypress", function(e) {
    var c = e.which ? e.which : e.keyCode;
    if (c == 13) {
       resolve();
       $("input:submit:first").focus();
       return false;
    }
   });

{% if molecule.toSMILES %}
// Update list of names
var url = '/cactus/{{ molecule.toSMILES|urlencode:"" }}/names'
var jqxhr = $.get(url,function(names) { $('#reaction_names').html(names);})
               .error(function(j,t,e) { $('#reaction_names').html(t+'\n'+e) })
{% endif %}
}) // end of document.ready
</script>
{% endblock %}
 -->


{% block page_title %}Reaction Search{% endblock %}

{% block page_body %}

<p>
Use this form to search for a reaction in the kinetic models database.
</p>
<form action="{% url 'reaction search' %}" method="GET">
  {{ form.as_p }}
<p><input type="submit" value="Submit" id="submit"/></p>
</form>

<table>
    <!-- NRC
    Table properties must be edited to include all relevant reaction fields
    -->
    <tr>
        <th>ID</th>
        <th>rPrimeID</th>
        <th>Reactants</th>
        <th>Products</th>
        <th>is_reversible</th>
        <th></th>
    </tr>
{% for reaction in object_list %}
<!-- NRC
    Table properties must be edited to include all relevant reaction fields(Done)
    Am not currently including a single reaction view
-->
    <tr>
        <td>{{ reaction.pk }}</td>
        <td><a href="http://warehouse.primekinetics.org/depository/reactions/catalog/{{ reaction.rPrimeID }}.xml">{{ reaction.rPrimeID }}</a></td>
        <td>{{ reaction.reactants }}</td>
        <td>{{ reaction.products }}</td>
        <td>{{ reaction.is_reversible }}</td>
        <td><a href="{% url 'reaction view' reaction_id=reaction.id%}">View</a></td>
        <td><a href="{% url 'reaction editor' reaction_id=reaction.id%}">Edit</a></td>
    </tr>
{% empty %}
    <li>Sorry, no results for your search criteria.</li>
{% endfor %}

</table>


{% include 'kineticmodels/navigation_footer.html' %}

{% block footer %}
<script type="text/javascript" src="/static/collected/admin/js/vendor/jquery/jquery.js"></script>

{{ form.media }}
{% endblock %}

{% endblock %}
