{% extends "kineticmodels/reaction.html" %}

{% block title %}{{ block.super }} List{% endblock %}
{% block page_title %}{{ block.super }} List{% endblock %}


{% block page_body %}

<!-- NRC
  The following HTML code will list all of the reaction currently in the database
-->

<table>
    <!-- NRC
    Table properties must be edited to include all relevant reaction fields
    -->
    <tr>
        <th>ID</th>
        <th>rPrimeID</th>
        <th>Reactants</th>
        <th>Products</th>
        <th>isReversible</th>
        <th></th>
    </tr>
{% for reaction in object_list %}
<!-- NRC
    Table properties must be edited to include all relevant reaction fields(Done)
    Am not currently including a single reaction view
-->
    <tr>
        <td>{{ reaction.pk }}</td>
        <td><a href="http://warehouse.primekinetics.org/depository/reactions/catalog/{{ reaction.rPrimeID }}.xml">{{ reaction.rPrimeID }}</a></td>
        <td>{{ reaction.reactants }}</td>
        <td>{{ reaction.products }}</td>
        <td>{{ reaction.isReversible }}</td>
        <td><a href="{% url 'reactionView' reaction_id=reaction.id%}">View</a></td>
        <td><a href="{% url 'reactionEditor' reaction_id=reaction.id%}">Edit</a></td>
    </tr>
{% endfor %}

</table>


{% include 'kineticmodels/navigationFooter.html' %}

{% endblock %}
