{% extends "base.html" %}

{% block title %}Kinetic Models Database: Reaction List{% endblock %}
{% block page_title %}Kinetic Models Database: Reaction List{% endblock %}

<!-- NRC
  The below navbar items are only relevant to the following pages:
      source,
      source_editor,
      reaction,
      reaction_editor,


<a href="{% url 'reaction editor' reaction_id=reaction.id%}">Edit</a>
-->

{% block navbar_items %}
<a href="{% url 'kineticmodels site home' %}">Kinetic Models Database</a> &raquo;
<a href="{% url 'reaction list' %}">Reaction List</a>
{% endblock %}

{% block sidebar_items %}
{% endblock %}

{% block page_body %}

<!-- NRC
  The following HTML code will list all of the reaction currently in the database
-->

<table>
    <!-- NRC
    Table properties must be edited to include all relevant reaction fields
    -->
    <tr>
        <th>ID</th>
        <th>rPrimeID</th>
        <th>Reactants</th>
        <th>Products</th>
        <th>is_reversible</th>
        <th></th>
    </tr>
{% for reaction in reaction_list %}
<!-- NRC
    Table properties must be edited to include all relevant reaction fields(Done)
    Am not currently including a single reaction view
-->
    <tr>
        <td>{{ reaction.pk }}</td>
        <td><a href="http://warehouse.primekinetics.org/depository/reactions/catalog/{{ species.rPrimeID }}.xml">{{ species.rPrimeID }}</a></td>
        <td>{{ reaction.reactants }}</td>
        <td>{{ reaction.products }}</td>
        <td>{{ reaction.is_reversible }}</td>
        <td><a href="{% url 'reaction view' reaction_id=reaction.id%}">View</a></td>
        <td><a href="{% url 'reaction editor' reaction_id=reaction.id%}">Edit</a></td>
    </tr>
{% endfor %}
</table>
<br/>

    <footer class="footer-basic-centered">

      <div class="pagination">
          <span class="step-links">
              {% if reaction_list.has_previous %}
                  <a href="?page={{ reaction_list.previous_page_number }}">previous</a>
              {% endif %}

              <span class="current">
                  Page {{ reaction_list.number }} of {{ reaction_list.paginator.num_pages }}.
              </span>

              {% if reaction_list.has_next %}
                  <a href="?page={{ reaction_list.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
    </footer>


{% endblock %}
