{% extends "base.html" %}


{% block title %}Kinetic Models Database: Reaction {{ reaction.id }} Editor{% endblock %}
{% block page_title %}Kinetic Models Database: Reaction {{ reaction.id }} Editor{% endblock %}

<!-- NRC
  This web page provides an interface to edit a specific reaction selected
  Should have a functionality added to change reaction without going back to reaction.html

  The below navbar items are only relevant to the following pages:
      bibliography,
      reaction,
      reaction_editor,
-->

{% block navbar_items %}
<a href="{% url 'kineticmodels.views.index' %}">Kinetic Models Database</a> &raquo;
<a href="{% url 'kineticmodels.views.bibliography' %}">Bibliography</a>
<a href="{% url 'kineticmodels.views.reaction_list' %}">Reaction List</a>
<a href="{% url 'kineticmodels.views.reaction_editor' reaction_id=reaction.id%}">Edit</a>
{% endblock %}

{% block sidebar_items %}
{% endblock %}

{% block page_body %}
<!-- NRC
  The following HTML code will list the data related to the specific reaction being edited
-->
<!--
    The following form allows the selected source to be edited
    Each source field needs a section to edit
  -->
<form action="{% url kineticmodels:reaction_editor reaction.id}" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
<p><input type="submit" value="Save" id="submit"/></p>
</form>

{% endblock %}

