{% extends "kineticmodels/source.html" %}

{% block title %}{{ block.super }} List{% endblock %}
{% block page_title %}{{ block.super }} List{% endblock %}


{% block page_body %}

<a href="{% url 'source search' %}">Bibliography Search</a>

<table>
    <tr>
        <th>Source ID<th>
        <th>Title</th>
        <th>Journal</th>
        <th>Year</th>
    </tr>
{% for source in object_list %}
    <tr>
        <td>{{ source.pk|slice:":8" }}<td>
        <td>{{ source.source_title }}</td>
        <td>{{ source.journal_name }}</td>
        <td>{{ source.pub_year }}</td>
        <td><a href="{% url 'source view' source_id=source.pk %}">View</a></td>
        <td><a href="{% url 'source editor' source_id=source.id%}">Edit</a></td>
    </tr>
{% endfor %}
</table>


{% include 'kineticmodels/navigation_footer.html' %}

{% endblock %}