{% extends "kineticmodels/source.html" %}

{% block title %}{{ block.super }} List{% endblock %}
{% block page_title %}{{ block.super }} List{% endblock %}


{% block page_body %}

<a href="{% url 'sourceSearch' %}">Bibliography Search</a>

<table>
    <tr>
        <th>Source ID<th>
        <th>Title</th>
        <th>Journal</th>
        <th>Year</th>
    </tr>
{% for source in object_list %}
    <tr>
        <td>{{ source.pk|slice:":8" }}<td>
        <td>{{ source.sourceTitle }}</td>
        <td>{{ source.journalName }}</td>
        <td>{{ source.pubYear }}</td>
        <td><a href="{% url 'sourceView' source_id=source.pk %}">View</a></td>
        <td><a href="{% url 'sourceEditor' source_id=source.id%}">Edit</a></td>
    </tr>
{% endfor %}
</table>


{% include 'kineticmodels/navigationFooter.html' %}

{% endblock %}