{% extends "kineticmodels/source.html" %}

{% block title %}{{ block.super }} {{ source.id }} Editor{% endblock %}
{% block page_title %}{{ block.super }} {{ source.id }} Editor{% endblock %}


{% block navbar_items %}
{{ block.super }} &raquo;
<a href="{% url 'sourceView' source_id=source.id %}">Source {{ reaction.id }}</a> &raquo;
<a href="{% url 'sourceEditor' source_id=source.id %}">Edit</a>
{% endblock %}


{% block page_body %}
<!--
    The following form allows the selected source to be edited
    Each source field needs a section to edit
  -->
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
<p><input type="submit" value="Save" id="submit"/></p>
</form>

{% block footer %}
<script type="text/javascript" src="/static/collected/admin/js/vendor/jquery/jquery.js"></script>

{{ form.media }}
{% endblock %}

{% endblock %}
