{% extends "kineticmodels/source.html" %}


{% block title %}Kinetic Models: Source Search{% endblock %}
<!-- 
{% block extrahead %}
<script type="text/javascript">
// the function used to resolve the identifier into an adjacency list
function resolve(){
   var spField = $('#id_source');
   var identifier = $('#id_source_identifier').val();
   var url = '/adjacencylist/'+escape(identifier);
   spField.val("Loading...");
   $('.result').hide();
   var jqxhr = $.get(url,function(structure) {
                     spField.val(structure);
                  })
               .error(function(j,t,e) { spField.val(t+'\n'+e); });
};

// prevent "enter" keypress in the identifier field from submitting the form,
// but instead make it resolve the identifier and select the submit button.
$(document).ready(function() {
   $("#id_source_identifier").bind("keypress", function(e) {
    var c = e.which ? e.which : e.keyCode;
    if (c == 13) {
       resolve();
       $("input:submit:first").focus();
       return false;
    }
   });

{% if molecule.toSMILES %}
// Update list of names
var url = '/cactus/{{ molecule.toSMILES|urlencode:"" }}/names'
var jqxhr = $.get(url,function(names) { $('#source_names').html(names);})
               .error(function(j,t,e) { $('#source_names').html(t+'\n'+e) })
{% endif %}
}) // end of document.ready
</script>
{% endblock %}
 -->


{% block page_title %}Source Search{% endblock %}

{% block page_body %}

<p>
Use this form to search for sources in the kinetic models database.
</p>
<form action="{% url 'sourceSearch' %}" method="GET">
  {{ form.as_p }}
<p><input type="submit" value="Submit" id="submit"/></p>
</form>

<table>
    <tr>
        <th>Source ID<th>
        <th>Title</th>
        <th>Journal</th>
        <th>Year</th>
    </tr>
{% for source in object_list %}
    <tr>
        <td>{{ source.pk|slice:":8" }}<td>
        <td>{{ source.sourceTitle }}</td>
        <td>{{ source.journalName }}</td>
        <td>{{ source.pubYear }}</td>
        <td><a href="{% url 'sourceView' source_id=source.pk %}">View</a></td>
        <td><a href="{% url 'sourceEditor' source_id=source.id%}">Edit</a></td>
    </tr>
{% empty %}
    <li>Sorry, no results for your search criteria.</li>
{% endfor %}
</table>


{% include 'kineticmodels/navigationFooter.html' %}

{% block footer %}
<script type="text/javascript" src="/static/collected/admin/js/vendor/jquery/jquery.js"></script>

{{ form.media }}
{% endblock %}

{% endblock %}
