{% extends "kineticmodels/source.html" %}

{% block title %}{{ block.super }} {{ source.id }}{% endblock %}
{% block page_title %}{{ block.super }} {{ source.id }}{% endblock %}

<!-- NRC
  The below navbar items are only relevant to the source, source_editor, or bibliography links to avoid clutter.
-->

{% block navbar_items %}
{{ block.super }} &raquo;
<a href="{% url 'sourceView' source_id=source.id%}">Source {{ source.id }}</a>
{% endblock %}


{% block page_body %}

<h1>Source: {{source.id}}</h1>
<table>
	<tr><td>bPrime ID</td><td>{{ source.bPrimeID }}</a></td></tr>
    <tr><td>Title</td><td>{{ source.sourceTitle }}</a></td></tr>
    <tr><td>Journal</td><td>{{ source.journalName }}</td></tr>
    <tr><td>Page Number</td><td>{{ source.pageNumbers }}</td></tr>
    <tr><td>Year</td><td>{{ source.publicationYear }}</td></tr>
    <tr><td>Author(s)</td>
    <td>
{% for author in source.authors.all %}
    {{ author.name}}  |   
{% endfor %}
	|</td>
	</tr>
    </tr>
</table>
<br/>
<a href="{% url 'sourceEditor' source_id=source.id%}">Edit</a>

{% endblock %}
