{% extends "base.html" %}

{% block title %}Kinetic Models Database: Source {{ source.id }} Editor{% endblock %}
{% block page_title %}Kinetic Models Database: Source {{ source.id }} Editor{% endblock %}

<!-- NRC
  The below navbar items are only relevant to the source, source_editor, or bibliography links to avoid clutter.
-->

{% block navbar_items %}
<a href="{% url 'kineticmodels.views.index' %}">Kinetic Models Database</a> &raquo;
<a href="{% url 'kineticmodels.views.bibliography' %}">Bibliography</a> &raquo;
<a href="{% url 'kineticmodels.views.source' source_id=source.id%}">Source {{ source.id }}</a> &raquo;
<a href="{% url 'kineticmodels.views.source_editor' source_id=source.id%}">Edit</a>
{% endblock %}

{% block sidebar_items %}
{% endblock %}

{% block page_body %}

<!--
    The following form allows the selected source to be edited
    Each source field needs a section to edit
  -->
<form action="{% url 'kineticmodels.views.source_editor' source_id=source.id%}" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
<p><input type="submit" value="Save" id="submit"/></p>
</form>

{% endblock %}
