{% extends "base.html" %}

{% block title %}Kinetic Models Database: Species List{% endblock %}
{% block page_title %}Kinetic Models Database: Species List{% endblock %}

<!-- NRC
  The below navbar items are only relevant to the following pages:
      source,
      source_editor,
      species,
      species_editor,

-->

{% block navbar_items %}
<a href="{% url 'kineticmodels.views.index' %}">Kinetic Models Database</a> &raquo;
<a href="{% url 'kineticmodels.views.source_editor' source_id=source.id%}">Edit</a>
<a href="{% url 'kineticmodels.views.species_list' %}">Species List</a>
{% endblock %}

{% block sidebar_items %}
{% endblock %}

{% block page_body %}

<!-- NRC
  The following HTML code will list all of the species currently in the database
-->

<table>
    <!-- NRC
    Table properties must be edited to include all relevant species fields
    -->
    <tr>
        <th>sPrimeID<th>
        <th>formula</th>
        <th>inchi</th>
        <th>CAS</th>
    </tr>
{% for source in sources %}
<!-- NRC
    Table properties must be edited to include all relevant species fields(Done)
    Am not currently including a single species view
-->
    <tr>
        <!--<td>{{ source.pk|slice:":8" }}<td>-->
        <td>{{ species.sPrimeID }}</td>
        <td>{{ species.formula }}</td>
        <td>{{ species.inchi }}</td>
        <td>{{ species.CAS }}</td>
        <!--<td><a href="{% url 'kineticmodels.views.source' source_id=source.pk %}">View</a></td>-->
        <td><a href="{% url 'kineticmodels.views.species_editor' species_id=species.id%}">Edit</a></td>
    </tr>
{% endfor %}
</table>
<br/>

{% endblock %}
