{% extends "base.html" %}

{% block title %}Kinetic Models Database: Species {{ species.id }}{% endblock %}
{% block page_title %}Kinetic Models Database: Species {{ species.id }}{% endblock %}

<!-- NRC
  The below navbar items are only relevant to the species, species_editor, or bibliography links to avoid clutter.
-->

{% block navbar_items %}
<a href="{% url 'kineticmodels.views.index' %}">Kinetic Models Database</a> &raquo;
<a href="{% url 'kineticmodels.views.species_list' %}">Browse Species</a> &raquo;
<a href="{% url 'kineticmodels.views.species' species_id=species.id%}">Species {{ species.id }}</a>
{% endblock %}

{% block sidebar_items %}
{% endblock %}

{% block page_body %}

<h1>Species: {{species.id}}</h1>
<table>
    <tr><td>ID</td><td>{{ species.pk }}</a></td></tr>
    <tr><td>sPrimeID</td><td>{{ species.sPrimeID}}</td></tr>
    <tr><td>formula</td><td>{{ species.formula }}</td></tr>
    <tr><td>inchi</td><td>{{ species.inchi }}</td></tr>
    <tr><td>CAS</td><td>{{ species.CAS }}</td></tr>    
    </tr>
</table>
<br/>
<a href="{% url 'kineticmodels.views.species_editor' species_id=species.id%}">Edit</a>


{% endblock %}
