{% extends "kineticmodels/species.html" %}

{% block title %}{{ block.super }} List{% endblock %}
{% block page_title %}{{ block.super }} List{% endblock %}


{% block page_body %}

<!-- NRC
  The following HTML code will list all of the species currently in the database
-->


<table>
    <!-- NRC
    Table properties must be edited to include all relevant species fields
    -->
    <tr>
        <th>ID</th>
        <th>sPrimeID</th>
        <th>formula</th>
        <th>inchi</th>
        <th>CAS</th>
        <th></th>
    </tr>


{% for species in object_list %}
<!-- NRC
    Table properties must be edited to include all relevant species fields(Done)
    Am not currently including a single species view
-->
    <tr>
        <td>{{ species.pk}}</td>
        <td><a href="http://warehouse.primekinetics.org/depository/species/catalog/{{ species.sPrimeID }}.xml">{{ species.sPrimeID }}</a></td>
        <td>{{ species.formula }}</td>
        <td>{{ species.inchi }}</td>
        <td>{{ species.CAS }}</td>
        <td><a href="{% url 'species view' species_id=species.id%}">View</a></td>
        <td><a href="{% url 'species editor' species_id=species.id%}">Edit</a></td>
    </tr>
{% endfor %}
</table>

{% include 'kineticmodels/navigation_footer.html' %}


{% endblock %}
