{% extends "kineticmodels/species.html" %}


{% block title %}Kinetic Models: Species Search{% endblock %}
<!-- 
{% block extrahead %}
<script type="text/javascript">
// the function used to resolve the identifier into an adjacency list
function resolve(){
   var spField = $('#id_species');
   var identifier = $('#id_species_identifier').val();
   var url = '/adjacencylist/'+escape(identifier);
   spField.val("Loading...");
   $('.result').hide();
   var jqxhr = $.get(url,function(structure) {
                     spField.val(structure);
                  })
               .error(function(j,t,e) { spField.val(t+'\n'+e); });
};

// prevent "enter" keypress in the identifier field from submitting the form,
// but instead make it resolve the identifier and select the submit button.
$(document).ready(function() {
   $("#id_species_identifier").bind("keypress", function(e) {
    var c = e.which ? e.which : e.keyCode;
    if (c == 13) {
       resolve();
       $("input:submit:first").focus();
       return false;
    }
   });

{% if molecule.toSMILES %}
// Update list of names
var url = '/cactus/{{ molecule.toSMILES|urlencode:"" }}/names'
var jqxhr = $.get(url,function(names) { $('#species_names').html(names);})
               .error(function(j,t,e) { $('#species_names').html(t+'\n'+e) })
{% endif %}
}) // end of document.ready
</script>
{% endblock %}
 -->


{% block page_title %}Species Search{% endblock %}

{% block page_body %}

<p>
Use this form to search for a species in the kinetic models database.
</p>
<form action="{% url 'species search' %}" method="GET">
  {{ form.as_p }}
<p><input type="submit" value="Submit" id="submit"/></p>
</form>

<table>
    <!-- NRC
    Table properties must be edited to include all relevant species fields
    -->
    <tr>
        <th>ID</th>
        <th>sPrimeID</th>
        <th>formula</th>
        <th>inchi</th>
        <th>CAS</th>
        <th></th>
    </tr>


{% for species in object_list %}
<!-- NRC
    Table properties must be edited to include all relevant species fields(Done)
    Am not currently including a single species view
-->
    <tr>
        <td>{{ species.pk}}</td>
        <td><a href="http://warehouse.primekinetics.org/depository/species/catalog/{{ species.sPrimeID }}.xml">{{ species.sPrimeID }}</a></td>
        <td>{{ species.formula }}</td>
        <td>{{ species.inchi }}</td>
        <td>{{ species.CAS }}</td>
        <td><a href="{% url 'species view' species_id=species.id%}">View</a></td>
        <td><a href="{% url 'species editor' species_id=species.id%}">Edit</a></td>
    </tr>
{% empty %}
    <li>Sorry, no results for your search criteria.</li>
{% endfor %}
</table>

{% include 'kineticmodels/navigation_footer.html' %}


{% endblock %}
