{% extends "kineticmodels/species.html" %}

{% block title %}{{ block.super }} {{ species.id }} Editor{% endblock %}
{% block page_title %}{{ block.super }} {{ species.id }} Editor{% endblock %}


{% block navbar_items %}
{{ block.super }} &raquo;
<a href="{% url 'speciesView' species_id=species.id %}">Species {{ species.id }}</a> &raquo;
<a href="{% url 'speciesEditor' species_id=species.id %}">Edit</a>
{% endblock %}

{% block page_body %}
<!-- NRC
  The following HTML code will list the data related to the specific species being edited
-->
<!--
    The following form allows the selected source to be edited
    Each source field needs a section to edit
  -->
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
<p><input type="submit" value="Save" id="submit"/></p>
</form>

{% endblock %}
