{% extends "base.html" %}


{% block title %}Kinetic Models Database: Species {{ species.id }} Editor{% endblock %}
{% block page_title %}Kinetic Models Database: Species {{ species.id }} Editor{% endblock %}

<!-- NRC
  This web page provides an interface to edit a specific species selected
  Should have a functionality added to change species without going back to species.html

  The below navbar items are only relevant to the following pages:
      bibliography,
      species,
      species_editor,
-->

{% block navbar_items %}
<a href="{% url 'kineticmodels site home' %}">Kinetic Models Database</a> &raquo;
<a href="{% url 'bibliography' %}">Bibliography</a>
<a href="{% url 'species list' %}">Species List</a>
<a href="{% url 'species editor' species_id=species.id%}">Edit</a>
{% endblock %}

{% block sidebar_items %}
{% endblock %}

{% block page_body %}
<!-- NRC
  The following HTML code will list the data related to the specific species being edited
-->
<!--
    The following form allows the selected source to be edited
    Each source field needs a section to edit
  -->
<form action="{% url kineticmodels:species_editor species.id}" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
<p><input type="submit" value="Save" id="submit"/></p>
</form>

{% endblock %}
