{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            crossorigin="anonymous"
        />

        <!--MathJax-->
        <script>
            window.MathJax = {
                tex: {
                    inlineMath: [
                        ["$", "$"],
                        ["\\(", "\\)"],
                    ],
                },
                svg: {
                    fontCache: "global",
                },
                displayAlign: "left",
            };
        </script>
        <script
            type="text/javascript"
            id="MathJax-script"
            async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
        ></script>
        <script
            src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"
        ></script>
        <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'database/jquery.formset.js' %}"></script>
        {% if title %}
        <title>Kinetic Models Site - {{ title }}</title>
        {% else %}
        <title>Kinetic Models Site</title>
        {% endif %}
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Kinetic Models Site</a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'species-search' %}">Species Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'reaction-search' %}">Reaction Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'source-search' %}">Source Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input
                        class="form-control mr-sm-2"
                        type="search"
                        placeholder="Search"
                        aria-label="Search"
                    />
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                        Search
                    </button>
                </form>
            </div>
        </nav>
        <br>
        <main role="main" class="container-fluid">
            <div class="row">
                <div class="col-md-8">{% block content %}{% endblock %}</div>
                <div class="col-md-4">
                    <div class="content-section">
                        <h3>Lookups</h3>
                        <p class="text-muted">Direct Species, Kinetics, and Source Lookups</p>
                        <h5>Species Lookup</h5>
                        <form action="" method="get">
                            <div class="form-group">
                                <input
                                    type="number"
                                    min="1"
                                    name="species_pk"
                                    placeholder="Enter ID"
                                    class="form-control"
                                />
                                {% if species_invalid %}<small class="form-text text-muted"
                                    >{{species_invalid}}</small
                                >{% endif %}
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        <br />
                        <h5>Reaction Lookup</h5>
                        <form action="" method="get">
                            <div class="form-group">
                                <input
                                    type="number"
                                    min="1"
                                    name="reaction_pk"
                                    placeholder="Enter ID"
                                    class="form-control"
                                />
                                {% if reaction_invalid %}<small class="form-text text-muted"
                                    >{{reaction_invalid}}</small
                                >{% endif %}
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        <br />
                        <h5>Source Lookup</h5>
                        <form action="" method="get">
                            <div class="form-group">
                                <input
                                    type="number"
                                    min="1"
                                    name="source_pk"
                                    id="source_pk"
                                    placeholder="Enter ID"
                                    class="form-control"
                                />
                                {% if source_invalid %}<small class="form-text text-muted"
                                    >{{source_invalid}}</small
                                >{% endif %}
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
        <!-- Bootstrap JS-->
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"
        ></script>
        <!-- Static JavaScript-->
        <script src="{% static 'database/main.js' %}"></script>
    </body>
</html>
