{% extends "database/base.html" %}

{% load utils %}
{% load renders %}

{% block content %}
<h1>{{kinetic_model.model_name}}</h1>

    {% if kinetic_model.chemkin_reactions_file or kinetic_model.chemkin_transport_file or kinetic_model.chemkin_thermo_file %}
    <h2>Downloads</h2>
    <ul class="list-group">
        {% if kinetic_model.chemkin_reactions_file %}
        <li class="list-group-item"><a href="{{ kinetic_model.chemkin_reactions_file.url }}" download>Chemkin Reactions File</a></li>
        {% endif %}
        {% if kinetic_model.chemkin_thermo_file %}
        <li class="list-group-item"><a href="{{ kinetic_model.chemkin_thermo_file.url }}" download>Chemkin Thermo File</a></li>
        {% endif %}
        {% if kinetic_model.chemkin_transport_file %}
        <li class="list-group-item"><a href="{{ kinetic_model.chemkin_transport_file.url }}" download>Chemkin Transport File</a></li>
        {% endif %}
    </ul>
    {% endif %}
    <h2>Source</h2>
    <a href="{% url 'source-detail' source.pk %}">{{source.name}}</a>
    <br>
    <h2>Species</h2>
    <div class="card">
    {% for th, tr in thermo_transport %}
    {% with thermo=th.thermo transport=tr.transport%}
    {% if thermo %}
    <a href="{% url 'species-detail' thermo.species.pk %}" class="list-group-item list-group-item-action">
    {% else %}
    <a href="{% url 'species-detail' transport.species.pk %}" class="list-group-item list-group-item-action">
    {% endif %}
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{% firstof thermo.species.formula transport.species.formula %}</h5>
            <small>ID: {% firstof thermo.species.pk transport.species.pk %}</small>
        </div>
        {% if thermo %}
        <h6 class="mb-1">Thermo Data</h6>
        {% if th.comment %}<p class="mb-1">{{ th.comment }}</p>{% endif %}
        {{ thermo|render_thermo_table:True }}
        {% endif %}
        {% if transport %}
        <h6 class="mb-1">Transport Data</h6>
        {% if tr.comment %}<p class="mb-1">{{ tr.comment }}</p>{% endif %}
        {{ transport|render_transport_table:True }}
        {% endif %}
    </a>
    {% endwith %}
    {% endfor %}
    </div>
    <br>
    {% render_pagination objects=thermo_transport page_name="page1" %}
    <br>
    <h2>Reactions</h2>
    {% for k in kinetics_data %}
    {% with kinetics=k.kinetics %}
    <div class="card">
        <a href="{% url 'reaction-detail' kinetics.reaction.pk %}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">{{ kinetics.reaction }}</h5>
              <small>ID: {{ kinetics.reaction.pk }}</small>
            </div>
            {% if kinetics.reaction.prime_id %}<p>PrIMe ID: {{kinetics.reaction.prime_id}}</p>{% endif %}
            {% if k.comment %}<p>{{ k.comment }}</p>{% endif %}
            <small>{{ kinetics.data.kinetics_type }}</small>
            {% with kinetics.data.table_data|last as table%}
            <table class="table table-condensed">
                <thead>
                    {% for head in table.1 %}
                    <th scope="col">{{ head }}</th>
                    {% endfor %}
                </thead>
                {% for row_header, cells in table.2 %}
                <tbody>
                    <tr>
                        {% if row_header %}
                        <th scope="row">{{ row_header }}</th>
                        {% endif %}
                        {% for cell in cells %}
                        <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            {% endwith %}
        </a>
    </div>
    {% endwith %}
    {% endfor %}
    <br>
    {% render_pagination objects=kinetics_data page_name="page2" %}
{% endblock %}
