{% extends "database/base.html" %}

{% load utils %}

{% block content %}
<h1>
    <a href="{% url 'reaction-detail' kinetics.reaction.pk %}">{{ kinetics.reaction }} </a> |
    <a href="{% url 'source-detail' kinetics.source.pk %}">{{ kinetics.source.name }}</a>
</h1>
<br>
{% if kinetics.prime_id%}
<h2>PrIMe ID: {{ kinetics.prime_id }}</h2>
<br>
{% endif %}

<table class="table table-bordered">
    <thead>
        {% for head in heads %}
        <th scope="col">{{ head }}</th>
        {% endfor %}
    </thead>
    <tbody>
        {% for body in bodies %}
        <td>{{ body }}</td>
        {% endfor %}
    </tbody>

</table>
{% endblock %}
