{% extends "database/base.html" %}

{% load utils %}

{% block content %}
<h1>
    <a href="{% url 'reaction-detail' kinetics.reaction.pk %}">{{ kinetics.reaction.equation }} </a> |
    {% if kinetics.source %}
    | <a href="{% url 'source-detail' kinetics.source.pk %}">{{ kinetics.source.name }}</a>
    {% endif %}
</h1>
<br>
{% if kinetics.prime_id%}
<h2>PrIMe ID: {{ kinetics.prime_id }}</h2>
<br>
{% endif %}
{% if kinetics.data.min_temp and kinetics.data.max_temp %}
{% if kinetics.data.min_pressure or kinetics.data.max_pressure %}
<ul class="list-group">
    {% if kinetics.data.min_temp and kinetics.data.max_temp %}
    <li class="list-group-item"><strong>Temperature Range (K):</strong> {{ kinetics.data.min_temp }} - {{ kinetics.data.max_temp }}</li>
    {% endif %}
    {% if kinetics.data.min_pressure and kinetics.data.max_pressure %}
    <li class="list-group-item"><strong>Pressure Range (Pa):</strong> {{ kinetics.data.min_pressure }} - {{ kinetics.data.max_pressure }}</li>
    {% endif %}
</ul>
<br>
{% endif %}
{% endif %}
{% for header, heads, bodies in kinetics.data.table_data %}
<h2>{{ header }}</h2>
<table class="table table-bordered">
    <thead>
        {% for head in heads %}
        <th scope="col">{{ head }}</th>
        {% endfor %}
    </thead>
    {% for row_header, cells in bodies %}
    <tbody>
        <tr>
            {% if row_header %}
            <th scope="row">{{ row_header }}</th>
            {% endif %}
            {% for cell in cells %}
            <td>{{ cell|format_g_or_str }}</td>
            {% endfor %}
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endfor %}
<br>
{% if efficiencies %}
<h2>Collider Efficiencies</h2>
<div class="list-group">
    {% for efficiency in efficiencies %}
    <a href="{% url 'species-detail' efficiency.species.pk %}"class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ efficiency.species }}</h5>
         </div>
        <p class="mb-1">Efficiency: {{ efficiency.efficiency }}</p>
    </a>
    {% endfor %}
</div>
{% endif %}
<h2>Chemkin Format</h2>
<figure>
    <pre><code id="input">{{ kinetics.to_chemkin }}</code></pre>
</figure>
<button id="copy" type="button" class="btn btn-outline-primary">Copy to Clipboard</button>
<br>
<br>
<h2>Kinetic Models</h2>
<div class="list-group">
    {% for kc in kinetics_comments %}
    <a href="{% url 'kinetic-model-detail' kc.kinetic_model.pk %}" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{kc.kinetic_model.model_name}}</h5>
        <small>ID: {{kc.kinetic_model.pk}}</small>
    </div>
    <p class="mb-1">{{kc.comment}}</p>
    </a>
    {% endfor %}
</div>
{% endblock %}
