{% extends "database/base.html" %}

{% load utils %}

{% block content %}
<h2>{{ reaction.equation }}</h2>
<h2>ID: {{ reaction.pk }}</h2>
<br>
<h3>Reactants</h3>
<div class="list-group">
    {% for reactant in reactants %}
    <a href="{% url 'species-detail' reactant.pk %}" class="list-group-item list-group-item-action">
        <strong>{{ reactant.formula }}</strong>
        <ul class="list-group">
            {% for structure in reactant.structures %}
            <li class="list-group-item"><img src="{% url 'draw-structure' structure.pk %}" /></li>
            {% endfor %}
        </ul>
    </a>
    {% endfor %}
</div>
<br>
<h3>Products</h3>
<div class="list-group">
    {% for product in products %}
    <a href="{% url 'species-detail' product.pk %}" class="list-group-item list-group-item-action">
        <strong>{{ product.formula }}</strong>
        <ul class="list-group">
            {% for structure in product.structures %}
            <li class="list-group-item"><img src="{% url 'draw-structure' structure.pk %}" /></li>
            {% endfor %}
        </ul>
    </a>
{% endfor %}
</div>
</br>
<h3>Kinetics</h3>
{% for k, model_names in kinetics_modelnames %}
    <div class="card">
        <div class="list-group-item list-group-item-action flex-column align-items-start">
            <a class="list-group-item-action" href="{% url 'kinetics-detail' k.pk %}">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{ k.source.source_title }}</h5>
                  <small>ID: {{ k.pk }}</small>
                </div>
                <small>{{ k.data.kinetics_type }}</small>
                {% with k.data.table_data|last as table%}
                <table class="table table-condensed">
                    <thead>
                        {% for head in table.1 %}
                        <th scope="col">{{ head }}</th>
                        {% endfor %}
                    </thead>
                    {% for row_header, cells in table.2 %}
                    <tbody>
                        <tr>
                            {% if row_header %}
                            <th scope="row">{{ row_header }}</th>
                            {% endif %}
                            {% for cell in cells %}
                            <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
                {% endwith %}
                <h6>Models</h6>
                <div class="list-group">
                    {% for model_name in model_names %}
                    <li class="list-group-item">{{ model_name }}</li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </a>
{% endfor %}
{% endblock %}
