{% extends "database/base.html" %}

{% load utils %}

{% block content %}
<h1> Reaction Detail</h1>

<ul>
    {% for name, val in reaction|fields %}
    <li><b>{{ name }}: </b> {{ val }}</li>
    {% endfor %}
</ul>
<dl>
    <dt>Reactants</dt>
    {% for reactant in reactants %}
        <dd><a href="{% url 'species-detail' reactant.pk %}">{{reactant.formula}}</a></dd>
    {% endfor %}
    <dt>Products</dt>
    {% for product in products %}
        <dd><a href="{% url 'species-detail' product.pk %}">{{product.formula}}</a></dd>
    {% endfor %}
    <dt>Kinetics</dt>
    {% for kin in kinetics %}
        <dd><a href="{% url 'source-detail' kin.source.pk %}">{{kin.source.name}}</a></dd>
    {% endfor %}
</dl>
{% endblock %}
