{% extends "database/base.html" %}
{% load crispy_forms_tags %}
{% load utils %}
{% load renders %}

{% block content %}
<h1>Reaction</h1>
<form action="" method="get">
    {{ filter.form|crispy }}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br />
{% render_pagination objects=page_obj page_name="page" %}
<br />
{% for reaction in object_list %}
<div class="list-group">
    <a
        href="{% url 'reaction-detail' reaction.pk %}"
        class="list-group-item list-group-item-action flex-column align-items-start"
    >
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ reaction }}</h5>
            <small>ID: {{ reaction.pk }}</small>
        </div>
        {% if reaction.prime_id %}
        <p>PrIMe ID: {{reaction.prime_id}}</p>
        {% endif %} {{ reaction.kinetics_count|pluralize:"Rate"}}
        <br />
{% render_pagination objects=page_obj page_name="page" %}
{% endblock %}
