{% extends "database/base.html" %}

{% load crispy_forms_tags %}
{% load utils %}
{% load renders %}

<h1>Species</h1>

{% block content %}
    <form action="" method="get">
        {{ filter.form|crispy }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    {% render_pagination objects=page_obj page_name="page"%}
    <div class="list-group">
        {% for source in object_list %}
            <a href="{% url 'source-detail' source.pk %}"
               class="list-group-item list-group-item-action flex-column align-items-start"
            >
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1">{{ source.source_title.title|titlecase }}</h6>
                    <small>ID: {{ source.id }}</small>
                </div>
                <i>{{ source.pub_info }}</i>
                <br>
                {{ source.author_line }}
            </a>
        {% endfor %}
    </div>
    <br>
    {% render_pagination objects=page_obj page_name="page"%}
{% endblock %}
