{% extends "database/base.html" %}

{% load renders %}
{% load utils %}

{% block content %}
<h1>Species Detail</h1>
<h2>ID: {{ species.pk }}</h2>
{% if names_models %}
<h2>Names</h2>
<div class="list-group">
    {% for name, models in names_models %}
    <div class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ name }}</h5>
        </div>
        <br />
        <h6>Models</h6>
        <div class="list-group">
            {% for model_name, model_id in models %}
            <a class="list-group-item list-group-item-action flex-column align-items-start"href="{% url 'kinetic-model-detail' model_id %}">{{ model_name }}</a>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
<br />
{% endif %}
<h2>Isomer Inchis</h2>
<ul class="list-group">
    {% for isomer_inchi in isomer_inchis %}
    <li class="list-group-item">{{ isomer_inchi }}</li>
    {% endfor %}
</ul>
<br>
<h2>Structure Info</h2>
<table class="table table-bordered table-hover">
    <thead>
        <th scope="col">Drawing</th>
        <th scope="col">Adjacency List</th>
        <th scope="col">SMILEs</th>
    </thead>
    <tbody>
        {% for structure in structures %}
        <tr>
            <td><img src="{% url 'draw-structure' structure.pk %}" /></td>
            <td>
                <pre>{{ structure.adjacency_list }}</pre>
            </td>
            <td>{{ structure.smiles }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br />
{% if thermo_list %}
<h2>Thermo Results</h2>
{{ thermo_list|render_thermo_list }}
<br>
{% endif %}
{% if transport_list %}
<h2>Transport Results</h2>
{{ transport_list|render_transport_list }}
<br>
{% endif %}
<h2>Reactions</h2>
{% render_pagination objects=reactions page_name="page" %}
{{ reactions|render_reaction_list }}
<br>
{% render_pagination objects=reactions page_name="page" %}
{% endblock %}
