{% extends "base.html" %}

<h1>Detail</h1>

{% block content %}
    {{ species.sPrimeID }} - {{ species.formula }} - {{ species.inchi }} - {{ species.cas }}
    <h2>Names</h2>
    <ul>
        {% for name in names %}
            <li>{{ name }}</li>
        {% endfor %}
    </ul>
    <hr>
    <h2>Adjacency Lists</h2>
    <ul>
        {% for adjlist in adjlists %}
            <li>{{ adjlist }}</li>
        {% endfor %}
    </ul>
    <hr>
    <h2>SMILEs</h2>
    <ul>
        {% for smile in smiles %}
            <li>{{ smile }}</li>
        {% endfor %}
    </ul>
    <hr>
    <h2>Isomer Inchis</h2>
    <ul>
        {% for isomer_inchi in isomer_inchis %}
            <li>{{ isomer_inchi }}</li>
        {% endfor %}
    </ul>
    <h2>Thermo Results</h2>
    <ul>
        {% for thermo in thermo_list %}
            <li><a href="{% url 'thermo-detail' thermo.pk %}">{{ thermo.source.sourceTitle }}</a> - {{ thermo.thpPrimeID  }}</li>
        {% endfor %}
    </ul>
    <h2>Transport Results</h2>
    <ul>
        {% for transport in transport_list %}
            <li><a href="{% url 'transport-detail' transport.pk %}">{{ transport.source.sourceTitle }}</a> - {{ transport.trPrimeID  }}</li>
        {% endfor %}
    </ul>
{% endblock %}
