{% extends "database/base.html" %}

{% load crispy_forms_tags %}
{% load utils %}
{% load renders %}

{% block content %}
<h1>Species Search</h1>
<form method="get">
    {{ filter.form.media }}
    {{ filter.form|crispy }}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br />
{% render_pagination objects=page_obj page_name="page" %}
<br />
<div class="list-group">
    {% for species in object_list %}
    <a
        href="{% url 'species-detail' species.pk %}"
        class="list-group-item list-group-item-action flex-column align-items-start"
    >
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ species.formula }}</h5>
            <small>ID: {{ species.pk }}</small>
        </div>
        {% if species.enthalpy_formation %}
        <p class="mb-1">
            $\Delta H_f^\circ = {{ species.enthalpy_formation }} \left(\frac{J}{mol}\right)$
        </p>
        {% endif %} {% if species.names %}
        <h6>Names</h6>
        <ul class="list-group">
            {% for name in species.names %}
            <li class="list-group-item">{{ name }}</li>
            {% endfor %}
        </ul>
        <br />
        {% endif %} {% if species.structures %}
        <h6>Structures</h6>
        <ul class="list-group">
            {% for structure in species.structures %}
            <li class="list-group-item"><img src="{% url 'draw-structure' structure.pk %}" /></li>
            {% endfor %}
        </ul>
        {% endif %}
    </a>
    {% endfor %}
</div>
<br />
{% render_pagination objects=page_obj page_name="page" %}
{% endblock %}
