{% extends "database/base.html" %}

{% block content %}
<h1>Detail</h1>
    <h3>ID: {{ species.pk }}</h2>
    <h2>Names</h2>
    <ul class="list-group">
        {% for name in names %}
            <li class="list-group-item">{{ name }}</li>
        {% endfor %}
    </ul>
    <hr>
    <h2>Adjacency Lists</h2>
    <ul class="list-group">
        {% for adjlist in adjlists %}
            <li class="list-group-item">{{ adjlist }}</li>
        {% endfor %}
    </ul>
    <hr>
    <h2>SMILEs</h2>
    <ul class="list-group">
        {% for smile in smiles %}
            <li class="list-group-item">{{ smile }}</li>
        {% endfor %}
    </ul>
    <hr>
    <h2>Isomer Inchis</h2>
    <ul class="list-group">
        {% for isomer_inchi in isomer_inchis %}
            <li class="list-group-item">{{ isomer_inchi }}</li>
        {% endfor %}
    </ul>
    <h2>Structures</h2>
    <ul class="list-group">
        {% for structure in structures %}
        <li class="list-group-item"><img src="{% url 'draw-structure' structure.pk %}"/></li>
        {% endfor %}
    </ul>
    <h2>Thermo Results</h2>
    <ul class="list-group">
        {% for thermo in thermo_list %}
            <li class="list-group-item"><a href="{% url 'thermo-detail' thermo.pk %}">{{ thermo.source.name }}</a></li>
        {% endfor %}
    </ul>
    <h2>Transport Results</h2>
    <ul class="list-group">
        {% for transport in transport_list %}
            <li class="list-group-item"><a href="{% url 'transport-detail' transport.pk %}">{{ transport.source.source_title }}</a> - {{ transport.prime_id  }}</li>
        {% endfor %}
    </ul>
{% endblock %}
