{% extends "database/base.html" %}

{% load utils %}

{% block content %}
<h1>
    {% if thermo.source %}
    <a href="{% url 'source-detail' source.pk %}">{{ thermo.source.name }}</a> |
    {% endif %}
    <a href="{% url 'species-detail' thermo.species.pk %}">{{ thermo.species.formula }}</a>
    Thermo Data
</h1>

{% if thermo.prime_id %}
<h2>PrIMe ID: {{ thermo.prime_id }}</h2>
{% endif %}

<h2>NASA Polynomials</h2>
$$\frac{C_p^\circ \left(T\right)}{R} = a_0 + a_1T + a_2T^2 + a_3T^3 + a_4T^4$$
$$\frac{H^\circ \left(T\right)}{RT} = a_0 + \frac{1}{2}a_1T + \frac{1}{3}a_2T^2 + \frac{1}{4}a_3T^3 + \frac{1}{5}a_4T^4 + \frac{a_5}{T}$$
$$\frac{S^\circ \left(T\right)}{RT} = a_0 + \frac{1}{2}a_1T + \frac{1}{3}a_2T^2 + \frac{1}{4}a_3T^3 + \frac{1}{5}a_4T^4 + \frac{a_5}{T}$$
{{ thermo|render_thermo_table }}

<h4>Reference State Information</h4>
<ul class="list-group">
    <li class="list-group-item"><b>Reference Temperature:</b> {{ thermo.reference_temp }} K</li>
    <li class="list-group-item"><b>Reference Pressure:</b> {{ thermo.reference_pressure }} Pa</li>
    <li class="list-group-item"><b>Heat of Formation</b>: {{ thermo.dHf }} J/mol</li>
</ul>
<br>

<h2>Kinetic Models</h2>
<div class="list-group">
    {% for tc in thermo_comments %}
    <a href="{% url 'kinetic-model-detail' tc.kinetic_model.pk %}" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{tc.kinetic_model.model_name}}</h5>
        <small>ID: {{tc.kinetic_model.pk}}</small>
    </div>
    <p class="mb-1">{{tc.comment}}</p>
    </a>
    {% endfor %}
</div>
{% endblock %}
